services:
  api:
    image: node-js-ts/api:dev
    container_name: api-dev
    build:
      context: ..
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ..:/code
      - /code/node_modules
    depends_on:
      - mongo

  mongo:
    image: mongo:8.0.14-noble
    container_name: mongo-db-dev
    command: [ "mongod", "--quiet", "--logpath", "/data/db/mongo.log", "--logappend" ]
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 1m

volumes:
  mongo_data:
